/.DS_Store
/.vscode
/10.1 Grid Sizing
/10.2 Grid Placement
/10.3 Mondrian Project
/11.0 Bootstrap Intro
/11.2 Bootstrap Components
/11.3 TinDog Project
/2.1 Heading Element
/2.2 Paragraph Element
/2.3 Void Elements
/2.4 Movie Ranking Project
/3.0 List Elements
/3.1 Nesting and Indentation
/3.2 Anchor Elements
/3.3 Image Elements
/3.4 Birthday Invite Project
/4.0 File Paths
/4.1 Webpages
/4.2
/4.3 HTML Porfolio Project
/5.1. Adding CSS
/5.3 CSS Selectors
/5.4 Color Vocab Project
/6.0 CSS Colors
/6.1 Font Properties
/6.3 CSS Box Model
/6.4 Motivation Meme Project
/7.0 CSS Cascade
/7.1 Combining Selectors
/7.2 CSS Positioning
/7.3 CSS Flag Project
/8.0 CSS Display
/8.1 CSS Float
/8.2 Responsiveness
/8.3 Media Query
/8.4 Web Design Agency Project
/9.0 Display Flex
/9.1 Flex Direction
/9.4 Flexbox Pricing Table Project